In [2]:
import pandas as pd
import numpy as np
import datetime as d
import seaborn as sns
from bs4 import BeautifulSoup
import requests
import re 
from a1_scrapping_data import *
from a2_extra_useful_columns_functions import *
from a3_data_analysis_masters import *

In [ ]:
sns.barplot(x='Season', y= 'xG/90', data=general_table_masters)

In [ ]:
team_tables?

In [5]:
team= 'Manchester City'
table= 'def_actions'
season='2017-2018'

In [6]:
team_tables(team, table, season)

       General Info            Tackles                               \
              Squad # Pl   90s     Tkl TklW Def 3rd Mid 3rd Att 3rd
10  Manchester City   25  38.0     563  381     257     215      91

   Challenges                 Blocks          Intercept         Clearances  \
          Tkl  Att  Tkl% Lost Blocks  Sh Pass       Int Tkl+Int        Clr
10        195  561  34.8  366    328  53  275       346     909        620

   Errors
      Err
10     19

In [ ]:
seasons_dict.keys()

In [ ]:
df= stats_search(team='Manchester Utd', season='2022-2023')

In [ ]:
df

In [ ]:
player_stats_search(player_name= 'Ronaldo', df=df)